/ ユーザー編集ページに遷移するためのパスを追加
.chat-side
    .side-header
        .side-header__block
            %p.side-header__block__user-name 
                = current_user.name
            %ul.side-header__block__menu
                %li.side-header__block__menu__edit-group
                    = link_to new_group_path do
                        = fa_icon 'pencil-square-o', class: 'icon'
                %li.side-header__block__menu__edit-account
                    = link_to edit_user_path(current_user) do
                        = fa_icon 'cog', class: 'icon'
    .groups
        .group
            - current_user.groups.each do |group|
                = link_to group_messages_path(group) do
                    .group__group-name 
                        test-group
                    .group__message
                        = group.show_last_message

